// =============================================================================
// UTILITIES
// =============================================================================


$exportCSS--displayUtilities:           true;

$exportCSS--textUtilities:              true;

$exportCSS--GooseTextUtilities:              true;

// Text
@import "gooseText/gooseText";